*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

div img{
  display: block;
  width: 100%;
}

.flex-container{
  display: flex;
  max-width: 992px;
  margin: auto;
  width: 100%;
  min-width: 320px;
}

header{
  background-color: #122a57;
  height: 100px;
  display: flex;
  align-items: center;
  color: aliceblue;
}

header .list-items{
  display: flex;
  max-width: 260px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list-items li a{
  color: white;
}

header .menu{
  justify-content: space-between;
}

.apresentacao{
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.apresentacao .texto-apresentacao{
  min-height: 200px;
}

.apresentacao .texto-apresentacao h1{
  color: #122a57;
}

.btn{
  background-color: #122a57;
  color: aliceblue;
  text-align: center;
  border-radius: 30px;
  display: block;
  width: 100px;
  padding: 5px;
  margin: 10px 0 10px 0;
}

#quem-somos{
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}

#quem-somos img{
  min-width: 320px;
  margin: auto;
}

#quem-somos h2{
  font-size: 32px;
  color: #122a57;
  display: flex;
  margin-bottom: 20px;
}

#quem-somos p{
  margin-bottom: 10px;
  width: 90%;
}

#quem-somos img{
  min-width: 520px;
}

#quem-somos h2::before{
  content: "";
  height: 40px;
  width: 4px;
  margin-right: 5px;
  background-color: #122a57;
  position: relative;
}

.container-externo{
  background-color: #122a57;
  width: 100%;
}

#servicos{
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}

#servicos h2{
  color: aliceblue;
  font-size: 32px;
  margin-bottom: 20px;
}

.list-servicos{
  display: flex;
  justify-content: space-between;  
}

.list-servicos .item-servicos{
  text-align: center;
}

.item-servicos a{
  width: 120px;
  background-color: aliceblue;
  border-radius: 30px;
  padding: 8px;
  text-align: center;
  margin-top: 10px;
  color: #122a57;
  font-size: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
}

.item-servicos p{
  font-weight: 700;
  font-size: 20px;
  color: aliceblue;
  margin-top: 20px;
}

.item-servicos img{
  width: 80%;
  margin: auto;
}

#planos{
  flex-direction: column;
  min-height: 100vh;
  padding-top: 50px;
}

#planos h2{
  font-size: 32px;  
}

.list-planos{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.item-planos{
  flex: 1;
  border: 4px solid #122a57;
  margin-right: 20px;
  padding: 10px;
  max-width: 240px;
}

.item-planos .btn{
  margin: auto;
  margin-bottom: 20px;
}

.item-planos h3{
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.item-planos h3::after{
  content: "";
  background-color: #122a57;
  width: 80%;
  height: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.item-planos ul{
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.item-planos ul li{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.item-planos ul li::before{
  content: "";
  width: 10px;
  height: 10px;
  background-color: #122a57;
  margin-right: 5px;
}

footer{
  background-color: #122a57;
  height: 70px;
  display: flex;
  align-items: center;
}

footer .footer{
  justify-content: space-between;
  color: aliceblue;
}

@media(max-width: 992px){
  .flex-container{
    flex-direction: column;
  }

  .apresentacao{
    flex-direction: column-reverse;
  }

  .apresentacao .texto-apresentacao{
    max-width: 100%;
  }

  #quem-somos{
    flex-direction: column-reverse;
  }

  .list-servicos{
    flex-direction: column;
  }

  .item-servico img{
    width: 50%;
    margin: auto;
  }

  .list-planos{
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .list-planos .item-planos{
    max-width: 90%;
    margin: auto;
    width: 100%;
    margin-bottom: 20px ;
  }
}